# Dependencies
node_modules/
**/node_modules/

# Build output
dist/
dist-ssr/
coverage/
backend/api/index.js
backend/api/index.js.map

# Local environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
*.sw?
*~
*.suo
*.ntvs*
*.njsproj
*.sln

# OS files
.DS_Store

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Virtual Environment (Python)
venv/
env/
ENV/
.venv
env.bak/
venv.bak/

# Local development
*.sqlite3
*.db

# Database migrations
migrations/

